.mainNavigation {
  background-color: #ffffff;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.mainNavigation a {
  height: 100%;
}

.mainNavigation img {
  height: 100%;
  width: auto;
}

.form input {
  display: none;
}

.form img {
  height: 100%;
  scale: 1.5;
  width: auto;
}

.imageUpload {
  display: flex;
  align-items: center;
}

.form label {
  cursor: pointer;
}

.form {
  display: flex;
  gap: 2rem;
}
@media only screen and (min-width: 992px) {
  
}
